language: c
os: linux

env:
  global:
    - RACKET_DIR=~/racket

  # each "-" after "jobs:" starts a new job;
  # maximum travis-ci runtime/job = 50 min
  # 2 max cores(?) per job?
  #
  # not possible to use nested env values to construct a build matrix,
  # so must list all combinations manually:
  # https://stackoverflow.com/questions/46575415/can-i-multiply-options-in-matrix-include-with-the-env-option
  # https://github.com/travis-ci/travis-ci/issues/1519
  #
  # "matrix" is alias for "jobs"
  jobs:
    - NAME="Turnstile+"      RACKET_VERSION="7.0"
    - NAME="Turnstile+"      RACKET_VERSION="7.6"
    - NAME="Turnstile+"      RACKET_VERSION="HEAD"
    - NAME="MLish"           RACKET_VERSION="7.1"
    - NAME="MLish"           RACKET_VERSION="7.6"
    - NAME="MLish"           RACKET_VERSION="HEAD"
    - NAME="Cur"             RACKET_VERSION="7.0"
    - NAME="Cur"             RACKET_VERSION="7.6"
    - NAME="Cur"             RACKET_VERSION="HEAD"
    - NAME="SBPV Scheme"     RACKET_VERSION="7.0"
    - NAME="SBPV Scheme"     RACKET_VERSION="7.6"
    - NAME="SBPV Scheme"     RACKET_VERSION="HEAD"
    - NAME="Typed Syndicate" RACKET_VERSION="7.0"
    - NAME="Typed Syndicate" RACKET_VERSION="7.6"
    - NAME="Typed Syndicate" RACKET_VERSION="HEAD"

jobs:
  allow_failures:
    - env: RACKET_VERSION="HEAD"

before_install:
  # install Racket
  - git clone https://github.com/greghendershott/travis-racket.git ../travis-racket
  - cat ../travis-racket/install-racket.sh | bash
  - export PATH="${RACKET_DIR}/bin:${PATH}"
  # install Turnstile+
  - git clone https://github.com/stchang/macrotypes.git
  - raco pkg install --auto -j 2 macrotypes/macrotypes-lib/
  - raco pkg install --auto -j 2 macrotypes/turnstile-lib/
  - raco pkg install --auto -j 2 macrotypes/rackunit-macrotypes-lib/

install:
  - chmod +x ./install.sh
  - ./install.sh

script:
  - chmod +x ./run-tests.sh
  - ./run-tests.sh
  - raco setup -j 2
